body, html, ul, li{
    margin: 0;
    padding: 0;
}
.header{
    width:100%;
    height: 60px;
    background: #0aa770;
    border-bottom:1px solid #099e6a;
}
.header-container{
    width:1190px;
    height: 61px;
    margin: auto;
}
.nav{
    background: #0aa770;
    height: 40px;
    width:100%;
}
.hao123{
    /*display: block;*/
    float: left;
    margin:12px 0;
    cursor:pointer;
}
.haodaojiao{
    float: left;
    margin:12px 0;
    cursor:pointer;
}
.header-sitemap{
    float: left;
    /*      width:82px;
          height:60px;*/
    /*line-height: 60px;*/
    margin-left: 5px;
    opacity:0.8;
    position: relative;
}

.icon-grid{
    float:left;
    /*display: block;*/
    margin-left: 10px;
    margin-top: 23px;
    width: 13px;
    height:13px;
    background: url("./icon-grid..png") ;
}
.header-sitemap a{
    margin: 0 3px;
    font-size: 18px;
    color:#fff;
    cursor:pointer;
    line-height: 60px;

}
.header-sitemap:hover{
    cursor:pointer;
    opacity:1.0;
    background: rgba(17,136,96,.9);

}
.header-sitemap:hover .taggle {
    display: block;
}
.icon-triangle {
    float: right;
    width: 0;
    height: 0;
    border: 3px solid white;
    /*     border-top-color: black;*/
    border-bottom: none;
    border-left-color: transparent;
    border-right-color: transparent;
    margin-top: 30px;
    margin-right: 8px;
}
.header-form{
    width: 380px;
    height:32px;
    float: right;
    margin-top: 12px;
}
.text{
    float: left;
    width:280px;
    height:22px;
    padding: 3px 2px;

}
.submit{
    width: 80px;
    height: 32px;
    border:0;
    padding: 0;
    background:url("./search-submit..png");
    background-color: #118860;
    cursor: pointer;
}
.tools{
    float:right;
    width:232px;
    height:60px;
    font-size: 12px;


}
.bear{
    margin-right:5px;
    margin-left:5px;
}
.phone{
    margin-right:5px;
}
.qrcde:hover{
    background: rgba(17,136,96,.9);
    opacity:1.0;
}
.qrcde:hover .qrcode-img{
    display: block;
}
.login{
    float: left;
    width:75px;
    height:60px;
    line-height: 60px;
    cursor: pointer;
    opacity:0.8;

}
.login a{
    color:white;

}
.login:hover{
    background: rgba(17,136,96,.9);
    opacity:1.0;
    text-decoration:underline;
}
.qrcde{
    float: left;
    width: 98px;
    padding-top: 23px;
    padding-left: 10px;
    padding-right: 10px;
    height:60px;
    cursor: pointer;
    color:white;
    opacity:0.8;
}
.sethome{
    float:left;
    padding-top: 23px;
    padding-left: 5px;
    padding-right: 5px;
    width:5px;
    height: 60px;
    margin-right: 15px;
    cursor: pointer;
    opacity:0.8;
    /*background: url("./home.png");*/
}

.qrcode-img{
    display: none;
    margin-top:0px;
    margin-left: -10px;
    width: 98px;
    padding: 10px 10px;
    background: rgba(17,136,96,.9);
    text-align: center;

}
.qrcode-img img{
    width: 80px;
    height: 80px;
    margin:0 9px;
}
.nav-container{
    height: 40px;
    width:1190px;
    margin:0 auto;


}
.nav-container li{
    display: inline-block;
    height: 40px;
    padding: 0 10px;
    float: left;
    line-height: 40px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;

}
.nav-container li:hover{
    background-color: #8fbc8f;

}
.nav-container .selected{
    background-color: #118860;
    cursor: default;
}
.car{
    width: 450px;
    height: 40px;
    float: left;

}
.content-top{
    background: #f0f8ff;
    height:345px;
    width: 100%;
    padding-top: 20px;
    padding-left: 75px;
}
.content-left{
    float: left;
    width: 670px;
    height: 300px;
    background: #fff;
}
.content-bottom-left
{
    float: left;
    width: 915px;
    height: 300px;
    background: #fff;
    margin-left: 75px;
    margin-top: 20px;
}
.taps{
    width: 124px;
    height: 300px;
    background-color: #0aa770;
    float: left;
}
.content-left li{
    list-style: none;
    width: 124px;
    height: 50px;
    /*margin-left: 16px;*/
    line-height: 50px;
    font-size: 16px;
    text-indent: 15px;
    color: #fff;
    cursor: pointer;
}
.content-left li:hover{
    background-color: #fff;
    color: #32cd32;
    /*cursor: pointer;*/
}
.content-left .selected{
    background-color: #fff;
    color: #32cd32;
    cursor: default;
}
.hide{
    display: none;
}
.taggle{
    display: none;
    position: absolute;
    width: 190px;
    height: 356px;
    font-size: 12px;
    color:#fff;
    background: rgba(17,136,96,.9);
    padding: 15px;
}
.title{
    height: 40px;
    width: 33px;
    font-size: 12px;
    line-height: 20px;
    top:0;
}
.taggle .first{
    padding-top: 0;
}
.item{
    position: relative;
    width: 190px;
    padding-top: 10px;
    padding-bottom: 8px;
    border-bottom: 1px solid #099e6a;
}
.item a{
    height: 20px;
    line-height: 20px;
    display: inline-block;
    text-align: center;
    width: 40px;
    white-space: nowrap;
    color: #fff;
    margin-bottom: 4px;
    font-size: 5px;
}
.item a:hover{
    text-decoration: underline;
    background:#32cd32;
}
/*.line{
  border-bottom: 1px dashed #049a66;
  width: 0px;
  margin-left: 16px;
}*/
.content-right{
    float: left;
    margin-left: 45px;
    width: 480px;
    height: 300px;
}
/*      .content-right-top{
        width:480px;
      }*/
.top-title{
    display: block;
    font-size: 22px;
    font-family: "Microsoft Yahei";
    line-height: 38px;
    height: 38px;
    color: #333;
    cursor: pointer;
    margin-top: 10px;
}
.top-title:hover{
    color:#32cd32;
}
.normal{
    font-size: 14px;
    font-family: Simsun;
    color: #666;
}
.normal:hover{
    text-decoration: underline;
    color: #32cd32;
    cursor: pointer;
}
.right-line{
    margin: 0 10px;
    width: 1px;
    border-left: 1px solid #ccc;
}
.normal-a{
    font-size: 14px;
    font-family: Simsun;
    line-height: 32px;
    color: #666;
    float: left;
    height: 32px;
    width: 220px;
}
.normal-a:hover{
    text-decoration: underline;
    color: #32cd32;
    cursor: pointer;
}
.content-right-bottom{
    height: 80px;
    padding-top: 5px;
}
.line-mid{
    margin: 20px 0;
    width: 100%;
    border-bottom:  1px solid #ccc;
}
.tap{
    width:915px;
    height:50px;
    background: #0aa770;
    margin-top: 5px;
}
.tap li{
    list-style: none;
    display: inline-block;
    width: 72px;
    height: 46px;
    font-size: 16px;
    font-family: "Microsoft YaHei";
    line-height: 46px;
    text-align: center;
    color: #fff;
    cursor: pointer;
}
.tap .selected{
    color: #333;
    background: #fff;
}
.food-item{
    padding: 15px 0;
    height: 112px;
    margin-top: 10px;
    border-bottom: dashed 1px #eaeaea;
}
.food-item:hover{
    background: #f0f8ff;
}
.local{
    display: none;
}
.feed img{
    width: 148px;
    height: 110px;
    border: solid 1px #e9e9e9;
    float: left;
}
.item-r{
    margin-left: 10px;
    width: 700px;
    height: 112px;
    color: #999;
    float: left;
}
.item-r .title{
    height: 32px;
    font-size: 22px;
    font-family: "Microsoft Yahei";
    line-height: 32px;
    color: #333;
}
.item-r .intro{
    display: block;
    height: 48px;
    font-size: 12px;
    font-family: Simsun;
    line-height: 24px;
}
.ad{
    float: left;
    margin-top: 25px;
    margin-left: 20px;
}
.banner{
    float: left;
    width: 270px;
    height: 150px;
    border-top: 1px dashed #ccc;
    border-bottom: 1px dashed #ccc;
    margin-top: 10px;
    margin-left: 20px;
    background: #f4f4f4;
}
.youhui{
    display: block;
    border-radius: 20px;
    background: #f94977;
    color: #fff;
    font-size: 14px;
    width: 78px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin:10px 0 0 10px;
}